.tweets-container {
  width: 100%;
  margin: 30px auto;
}
h3 {
  width: 100px;
  margin: 30px auto;
  text-align: center;
}
.tweet {
  border-top: solid #00acee;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}